.login-container {
    height: calc(100vh - 8.4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__title{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.form__message {
    display: none;
}